img {
  width: 1200px;
  height: auto;
  margin-top: 18px;
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black; 
  border-radius: 12px;
}

img .signin-btn {                                  // button is suppose to appear in the middel of the image
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

img .signin-btn:hover {
  background-color: #fff;
}


body {
  background-color: #fff;
}