.view-container-dashboard {
  position: relative;
  width: 50%;
  max-width: 1200px;
  min-width: 800px;
  margin-left:auto;
  margin-right:auto;
}
.view-container-dashboard img {
  width: 100%;
  height: auto;
  margin-top: 18px;
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black; 
  border-radius: 12px;
}

.view-container-dashboard .signin-btn {                                  // button is suppose to appear in the middel of the image
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.signin-btn:hover {
  color: white;
    background: none;
    border-radius: 0;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}


body {
  background-color: #fff;
}