.forms{

  display: grid;
  justify-content: center;

}

.inputs-signin{

  width: 250px;
  border: solid 1px black;
  
}

.signin-form-container{

  border: solid 2px grey;
  padding: 5rem;
  width: 75%;
  height: 100%;
}


.signin-title{
  font-family: 'Bangers', cursive;

}

.account-title{
  font-family: 'Bangers', cursive;
  font-size: x-large;


}